<!doctype html>
<html lang="{{ site:short_locale }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ partial src="partials/seo" }}
    {{ vite src="resources/js/site.js|resources/css/site.css" }}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        rel="preload"
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;700&display=swap"
        as="style"
        onload="this.onload=null;this.rel='stylesheet'"
    />
    <noscript>
        <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;700&display=swap"
            rel="stylesheet"
            type="text/css"
        />
    </noscript>
    {{ yield:header_scripts }}
</head>
<a href="#content" class="sr-only focus:not-sr-only">
    Skip to content
</a>
<body class="bg-dark-brand font-sans leading-normal text-gray-800">
{{ partial src="partials/navigation" }}
<main id="content">
    {{ template_content }}
</main>
{{ cache key="footer" }}
{{ partial src="partials/footer" }}
{{ /cache }}

{{ yield:footer_scripts }}

</body>
</html>
