<div class="relative bg-dark-brand uppercase text-sm z-30">
    <div class="max-w-7xl mx-auto md:px-4 px-6">
        <div class="flex justify-between items-center pt-2 pb-2 md:justify-start md:space-x-10">

            <div class="flex justify-start lg:w-0 lg:flex-1">
                <a title="Home" class="cursor-pointer" href="/">
                    {{ svg :src="brand:logo" title="{{ site:name }}" height="110" width="110" class="cursor-pointer" }}
                </a>
            </div>


            {{# mobile menu button #}}
            <div class="-mr-2 -my-2 md:hidden">
                <button
                    class="bg-dark-brand rounded-md p-2 inline-flex items-center justify-center text-white hover:text-white hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-red-dark-brand"
                    type="button" aria-expanded="false">
                    <span class="sr-only">Open menu</span>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true"
                         data-slot="icon" class="h-6 w-6">
                        <path fill-rule="evenodd"
                              d="M3 6.75A.75.75 0 0 1 3.75 6h16.5a.75.75 0 0 1 0 1.5H3.75A.75.75 0 0 1 3 6.75ZM3 12a.75.75 0 0 1 .75-.75h16.5a.75.75 0 0 1 0 1.5H3.75A.75.75 0 0 1 3 12Zm0 5.25a.75.75 0 0 1 .75-.75h16.5a.75.75 0 0 1 0 1.5H3.75a.75.75 0 0 1-.75-.75Z"
                              clip-rule="evenodd"></path>
                    </svg>
                </button>
            </div>

            {{# main desktop nav #}}
            <nav class="hidden md:flex space-x-8">
                {{ nav:main }}
                    <a class="p-2 text-sm lg:text-base font-medium text-white hover:text-red-brand" href="{{ url }}">
                        {{title}}
                    </a>
                {{ /nav:main }}
            </nav>

            <div class="hidden md:flex items-center justify-end md:flex-1 lg:w-0">
                {{#                 <button #}}
                {{#                     class="m-1 uppercase whitespace-nowrap inline-flex items-center justify-center px-4 py-2 border border-transparent shadow-sm text-sm lg:text-base font-medium text-white bg-red-brand focus:ring-bg-red-brand-dark hover:bg-red-brand-dark hover:border-red-brand-dark border-red-brand hover:text-white hover:no-underline"> #}}
                {{#                     Sign in #}}
                {{#                 </button> #}}
            </div>

        </div>


        <div class="z-10 absolute top-0 inset-x-0 p-2 transition transform origin-top-right md:hidden" tabindex="-1">
            <div class="rounded-lg shadow-lg ring-1 ring-black ring-opacity-5 bg-dark-brand divide-y-2 divide-gray-50">
                <div class="pt-5 pb-6 px-5">
                    <div class="flex items-center justify-between">
                        <a title="Home" class="cursor-pointer" href="/">
                            {{ svg :src="brand:logo" title="{{ site:name }}" height="75" width="75" class="cursor-pointer" }}
                        </a>
                        <div class="-mr-2">
                            <button
                                class="bg-dark-brand rounded-md p-2 inline-flex items-center justify-center text-white hover:text-red-brand hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-red-brand-dark"
                                type="button">
                                <span class="sr-only">Close menu</span>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                     aria-hidden="true" data-slot="icon" class="h-6 w-6">
                                    <path fill-rule="evenodd"
                                          d="M5.47 5.47a.75.75 0 0 1 1.06 0L12 10.94l5.47-5.47a.75.75 0 1 1 1.06 1.06L13.06 12l5.47 5.47a.75.75 0 1 1-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 0 1-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 0 1 0-1.06Z"
                                          clip-rule="evenodd"></path>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="pt-5 pb-6 px-5 space-y-6">
                    <div class="grid grid-cols-2 gap-y-4 gap-x-8">
                        {{ nav:main_mobile }}
                            <a class="p-2 text-sm lg:text-base font-medium text-white hover:text-red-brand"
                               href="{{ url }}">
                                {{ title }}
                            </a>
                        {{ /nav:main_mobile }}
                    </div>
                </div>

                {{#                 <div class="pt-6 pb-6 px-5 space-y-6"> #}}
                {{#                     <div class="flex items-center justify-center md:hidden"> #}}
                {{#                         <button>Sign in</button> #}}
                {{#                     </div> #}}
                {{#                 </div> #}}

            </div>
        </div>


    </div>
</div>
