{{ if {session:status} }}
    <div x-data="{ show: true }"
         x-show="show"
         x-init="setTimeout(() => show = false, 3000)"
         x-transition
         class="border border-green-500 bg-green-500/10 text-green-400 rounded-sm p-4 font-roboto text-sm mb-6">
        {{ session:status }}
    </div>
{{ /if }}
{{ get_errors:all }}
    <div x-data="{ show: true }"
         x-show="show"
         x-init="setTimeout(() => show = false, 3000)"
         x-transition
         class="border border-red-500 bg-red-500/10 text-brand-300 rounded-sm p-4 font-roboto text-sm mb-6">
        <ul class="space-y-1">
            {{ messages }}
            <li>{{ message }}</li>
            {{ /messages }}
        </ul>
    </div>
{{ /get_errors:all }}
