<title>{{ (seo_title ?? title) + " " + (site:attributes:title_seperator ?? "-") + " " + site:name }}</title>
{{ brand:logo | favicon }}
{{ if get:page && get:page != "1" }}
    <link rel="canonical" href="{{ current_url }}?page={{ get:page }}"/>
{{ else }}
    <link rel="canonical" href="{{ current_url }}"/>
{{ /if }}
<meta property="og:site_name" content="{{ site:name }}"/>
{{ if get:page && get:page != "1" }}
    <meta property="og:url" content="{{ current_url }}?page={{ get:page }}"/>
{{ else }}
    <meta property="og:url" content="{{ current_url }}"/>
{{ /if }}
<meta property="og:title"
      content="{{ (seo_title ?? title) + " " + (site:attributes:title_seperator ?? "-") + " " + site:name }}"/>
<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:title"
      content="{{ (seo_title ?? title) + " " + (site:attributes:title_seperator ?? "-") + " " + site:name }}"/>
{{ if featured_image }}
    <meta property="og:image" content="{{ featured_image:permalink }}"/>
    <meta name="twitter:image" content="{{ featured_image:permalink }}"/>
{{ elseif background_image }}
    <meta property="og:image" content="{{ background_image:permalink }}"/>
    <meta name="twitter:image" content="{{ background_image:permalink }}"/>
{{ elseif brand:logo }}
    <meta property="og:image" content="{{ brand:logo:permalink }}"/>
    <meta name="twitter:image" content="{{ brand:logo:permalink }}"/>
{{ /if }}
{{ if description }}
    <meta name="description" content="{{ description }}"/>
    <meta property="og:description" content="{{ description }}"/>
    <meta name="twitter:description" content="{{ description }}"/>
{{ /if }}
{{ if noindex or current_uri == "login" or current_uri == "register" or current_uri == "forgot-password" or current_uri | starts_with:'verify-email' or current_uri | starts_with:'email/verify' or current_uri | starts_with:'reset-password' or current_uri | starts_with:'members' }}
    <meta name="robots" content="noindex, nofollow">
{{ else }}
    <meta name="robots" content="index, follow">
{{ /if }}
{{ if schema:code }}
    <script type="application/ld+json">
        {{ schema:code | raw }}
    </script>
{{ /if }}
