{{ partial src="partials/flex_section" lighten="{{lighten}}" }}
    <div class="relative container mx-auto flex flex-col content-center items-center">
        <h2 class="md:text-3xl text-2xl font-bold my-12 text-center text-white">
            {{title}}
        </h2>
        <div class="text-off-white md:mt-5 my-12 lg:w-10/12 font-normal text-center text-base leading-relaxed">
            {{ content }}
        </div>
        {{ if cta_link }}
            <div class="flex justify-center items-center">
                <a href="{{ cta_link }}">
                    {{ cta_text ?? "Read more" }}
                </a>
            </div>
        {{ /if }}
    </div>
{{ /partial }}
