<div class="grid min-h-[350px] grid-cols-1 bg-dark-brand text-center text-white md:grid-cols-3">
    {{ features }}
    <div class="group relative flex min-h-[320px] flex-col overflow-hidden">
        <picture class="absolute inset-0">
            <source
                srcset="{{ glide :src="background_image" width="600" height="400" fit="crop" quality="75" format="avif" }}"
                type="image/avif">
            <source
                srcset="{{ glide :src="background_image" width="600" height="400" fit="crop" quality="70" format="webp" }}"
                type="image/webp">
            <img
                src="{{ glide :src="background_image" width="600" height="400" fit="crop" quality="70" }}"
                alt="{{ title }} background"
                class="w-full h-full object-cover"
            >
        </picture>
        <div class="absolute inset-0 bg-gradient-to-b from-ink-brand/35 via-ink-brand/60 to-ink-brand/85 transition duration-300 group-hover:from-red-brand/20"></div>
        <div class="relative z-10 flex grow flex-col items-center justify-center p-8">
            <h3 class="font-montserrat text-2xl font-black uppercase">
                {{ title }}
            </h3>
            <div class="mt-4 max-w-sm text-off-white">
                {{ highlight }}
            </div>
        </div>
    </div>
    {{ /features }}
</div>
