<section
    class="hero-section relative flex items-center justify-center w-full min-h-[400px] sm:min-h-[500px] md:min-h-[600px] lg:min-h-[700px]">
    <div class="absolute inset-0 w-full h-full">
        {{ partial:partials/picture :image="background_image" cover="true" lazy="true" sizes="(min-width: 1280px) 100vw, (min-width: 768px) 100vw, 100vw" class="w-full h-full object-cover object-center absolute inset-0" }}
    </div>

    <div
        class="relative z-10 container max-w-screen-xl px-4 md:px-8 gap-y-6 m-auto flex flex-col content-center items-center py-12 sm:py-24">
        <div class="w-11/12 lg:flex justify-center items-center flex-col mb-5 sm:mb-10 text-center">
            <h1 class="hero-title text-2xl sm:text-3xl md:text-4xl lg:text-5xl font-bold">
                {{ title }}
            </h1>
            <div class="hero-text text-xl md:text-2xl">
                {{ content }}
            </div>
        </div>
        <div class="flex justify-center items-center">
            {{ if cta_link }}
                <a href="{{ cta_link }}" class="btn">
                    {{ cta_text ?? "Learn More" }}
                </a>
            {{ /if }}
        </div>
    </div>
</section>
