{{ partial src='partials/flex_section' id="mapSection" lighten="true" }}
<h2 class="text-2xl font-bold md:mt-2 mt-5 text-center text-white">
    Where are we?
</h2>
{{ partial src="partials/seperator" }}

<div class="flex flex-col md:flex-row items-stretch w-full space-x-12 px-12 mx-12">
    <div class="w-full md:w-1/2 lg:w-3/5 flex-2">
        {{ partial:map latitude="{{latitude}}" longitude="{{longitude}}" }}
    </div>
    <div class="w-full md:w-1/2 lg:w-2/5 flex-1">
        {{ partial:book_a_class_form }}
    </div>
</div>
{{ /partial }}
