{{ partial src="partials/flex_section" lighten="true" }}
<div class="relative z-10 container mx-auto flex flex-col content-center items-center">
        <p class="section-kicker">Student Path</p>
        <h3 class="section-heading">
            {{title}}
        </h3>
        {{ partial src="partials/seperator" }}
        <div class="container mx-auto py-4">
            <div class="grid grid-cols-1 gap-6 md:grid-cols-3">

                {{ features_list_with_background }}
                <div class="panel h-full overflow-hidden">
                        <img
                            class="h-52 w-full object-cover object-center"
                            src="{{ glide :src='featured_image' format='webp' width='700' height='400' }}"
                                alt="{{ featured_image:alt }}"
                        />
                        <div class="min-h-[220px] bg-dark-brand/90 p-6">
                            <ul class="max-w-md space-y-3 text-gray-500 dark:text-gray-400">
                                {{ features }}
                                <li class="flex items-start gap-3 text-white">
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 24 24"
                                        fill="currentColor"
                                        class="mt-1 h-4 w-4 shrink-0 text-gold-brand"
                                    >
                                        <path
                                            fill-rule="evenodd"
                                            d="M19.916 4.626a.75.75 0 01.208 1.04l-9 13.5a.75.75 0 01-1.154.114l-6-6a.75.75 0 011.06-1.06l5.353 5.353 8.493-12.739a.75.75 0 011.04-.208z"
                                            clip-rule="evenodd"
                                        />
                                    </svg>
                                    {{ value }}
                                </li>
                                {{ /features }}
                            </ul>
                        </div>
                </div>
                {{ /features_list_with_background }}

            </div>
        </div>
    </div>
{{ /partial }}
