<article class="profile-card bg-no-repeat bg-center bg-cover bg-light-dark-brand" aria-label="Profile: {{ title }}">
    <div class="container mx-auto flex flex-col items-center py-14">
        <div class="w-11/12 sm:w-2/3 lg:flex justify-center items-center flex-col md:mb-5 mb-10">
            <div class="mb-4 text-center">
                <h2 class="text-3xl text-white font-bold">{{ title }}</h2>

                {{ if profile_image }}
                    <div class="my-4">
                        <picture>
                            <source srcset="{{ glide :src="profile_image" height="200" width="200" format="avif" }}" type="image/avif">
                            <source srcset="{{ glide :src="profile_image" height="200" width="200" format="webp" }}" type="image/webp">
                            <img
                                class="mx-auto rounded-full"
                                src="{{ glide :src="profile_image" height="200" width="200" format="jpg" }}"
                                alt="{{ profile_image:alt }}"
                                loading="lazy"
                            />
                        </picture>
                    </div>
                {{ else }}
                    <div class="my-4">
                        <div class="w-52 h-52 bg-gray-400 rounded-full mx-auto"></div>
                    </div>
                {{ /if }}
            </div>
            <div class="max-w-none prose prose-invert prose-headings:font-heading prose-headings:tracking-tight prose-headings:font-normal prose-strong:text-white">
                {{ bio }}
            </div>
            <div class="mt-8">
                <a href="/about-kenpo-karate" class="text-white hover:underline" aria-label="Back to previous page">
                    Back
                </a>
            </div>
        </div>
    </div>
</article>
