<div class="rounded-lg shadow-sm divide-y divide-zinc-600 {{ if featured }}ring-2 ring-brand-400{{ else }}bg-zinc-900{{ /if }} relative">
    {{ if featured }}
        <div class="absolute -top-4 left-1/2 transform -translate-x-1/2">
            <span class="bg-brand-500 text-white px-4 py-1 rounded-full text-sm font-montserrat">Most Popular</span>
        </div>
    {{ /if }}

    <div class="p-6 {{ if featured }}bg-zinc-900{{ /if }}">
        <h2 class="text-2xl leading-6 font-semibold text-white">
            {{ title }}
        </h2>
        <p class="mt-4 text-zinc-300">
            {{ description }}
        </p>
        <p class="mt-8">
            <span class="text-5xl font-extrabold text-white">{{ price }}</span>
            <span class="text-base font-medium text-zinc-100">/ {{ term }}</span>
        </p>
        <form method="POST" action="/members/subscribe">
            {{ csrf_field }}
            <input type="hidden" name="price_id" value="{{ price_id }}">
            <button
                class="ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 h-10 mt-8 rounded-none whitespace-nowrap inline-flex items-center justify-center px-4 py-2 border shadow-sm text-base font-medium text-white bg-red-brand focus:ring-bg-red-brand-dark hover:bg-red-brand-dark hover:border-red-brand-dark border-red-brand hover:text-white hover:no-underline"
                type="submit">Subscribe
            </button>
        </form>
    </div>
</div>
