{{ page_builder scope="block" }}
    {{ partial src="page_builder/{type}" }}
{{ /page_builder }}
{{ partial:flex_section lighten="true" }}
    <section class="text-gray-600 body-font overflow-hidden">
        <div class="container px-5 py-24 mx-auto">
            <div class="-my-8 divide-y-2 divide-gray-100">

                {{ collection:articles paginate="10" as="posts" }}

                    {{ if no_results }}
                        <p>
                            More articles coming soon. Please check our <a target="_blank" rel="nofollow noreferrer"
                                                                           href="{{ contact:facebook_link }}">facebook
                            page</a> in the meantime.
                        </p>
                    {{ /if }}
                    {{ posts }}

                    <div class="py-8 flex flex-wrap md:flex-nowrap">
                        <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                              <span class="font-semibold title-font text-white">
                                <a href="{{ author:slug }}">
                                    {{ author:name }}
                                </a>
                              </span>
                            {{ tags }}
                            <a href="{{ url }}">{{ title }}</a>
                            {{ /tags }}
                            <span class="mt-1 text-white text-sm">{{ date | format:'D M j Y' }}</span>
                        </div>
                        <div class="md:flex-grow">
                            <a href="{{ url }}">
                                <h3 class="text-2xl font-medium text-white title-font mb-2">
                                    {{ title }}
                                </h3>
                            </a>
                            <p class="text-section">
                                {{ excerpt }}
                            </p>
                            <a
                                title="{{ title }}"
                                class="text-white inline-flex items-center mt-4"
                                href="{{ url }}">
                                Read More
                                <svg
                                    class="w-4 h-4 ml-2"
                                    viewBox="0 0 24 24"
                                    stroke="currentColor"
                                    stroke-width="2"
                                    fill="none"
                                    stroke-linecap="round"
                                    stroke-linejoin="round">
                                    <path d="M5 12h14"></path>
                                    <path d="M12 5l7 7-7 7"></path>
                                </svg>
                            </a>
                        </div>
                    </div>
                    {{ /posts }}
                    {{ paginate }}

                    <a href="{{ prev_page }}">⬅ Previous</a>

                    {{ current_page }} of {{ total_pages }} pages
                    (There are {{ total_items }} posts)

                    <a href="{{ next_page }}">Next ➡</a>
                    {{ /paginate }}

                {{ /collection:articles }}
            </div>
        </div>
    </section>
{{ /partial:flex_section }}
