name: Deploy to Staging and Production

on:
  push:
    tags:
      - 'staging-*'
      - 'v*'

env:
  DOCKER_IMAGE_NAME: brennii96/kiteschoolofkenpo
  STAGING_PATH: /docker/sites/staging.kiteschoolofkenpo.co.uk
  PRODUCTION_PATH: /docker/sites/www.kiteschoolofkenpo.co.uk

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Extract Tag Name
        run: echo "TAG_NAME=${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV

      - name: Debugging SSH connection
        run: |
          echo "$HETZNER_SSH_PRIVATE_KEY" > /tmp/ssh_key
          chmod 600 /tmp/ssh_key
          echo "Attempting SSH connection..."
          ssh -v -o StrictHostKeyChecking=no -i /tmp/ssh_key ${{ secrets.HETZNER_SSH_USER }}@${{ secrets.HETZNER_HOST }} "echo 'Connection successful!'"

      - name: Determine Deployment Target
        run: |
          if [[ $TAG_NAME == staging-* ]]; then
            echo "DEPLOY_ENV=staging" >> $GITHUB_ENV
          else
            echo "DEPLOY_ENV=production" >> $GITHUB_ENV
          fi

      - name: Deploy to Staging
        if: contains(env.TAG_NAME, 'staging-')
        run: |
          ssh -o -i ${{ secrets.HETZNER_SSH_PRIVATE_KEY }} ${{ secrets.HETZNER_SSH_USER }}@${{ secrets.HETZNER_HOST }} "
            cd $STAGING_PATH && git pull origin staging && docker compose -f compose.yaml -f compose.stage.yaml up -d --remove-orphans
          "

      - name: Deploy to Production
        if: startsWith(env.TAG_NAME, 'v')
        run: |
          ssh -o -i ${{ secrets.HETZNER_SSH_PRIVATE_KEY }} ${{ secrets.HETZNER_SSH_USER }}@${{ secrets.HETZNER_HOST }} "
            cd $PRODUCTION_PATH && git pull origin main && docker compose -f compose.yaml -f compose.prod.yaml up -d --remove-orphans
          "
