name: Deploy to Staging and Production

on:
  push:
    tags:
      - 'staging-*'
      - 'v*'

env:
  DOCKER_IMAGE_NAME: brennii96/kiteschoolofkenpo
  STAGING_PATH: /docker/sites/staging.kiteschoolofkenpo.co.uk
  PRODUCTION_PATH: /docker/sites/www.kiteschoolofkenpo.co.uk

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Extract Tag Name
        run: echo "TAG_NAME=${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV

      - name: Prepare SSH key
        run: |
          echo "${{ secrets.HETZNER_SSH_PRIVATE_KEY }}" | base64 -d > vps_key.pem
          chmod 0600 vps_key.pem
      - name: Prepare the known_hosts
        run: |
          mkdir ~/.ssh/ && touch ~/.ssh/known_hosts
          echo "${{ secrets.SSH_HOST_KEYS }}" | base64 -d >> ~/.ssh/known_hosts

      - name: Debugging SSH connection
        run: |
          echo "Attempting SSH connection..."
          ssh -i vps_key.pem ${{ secrets.HETZNER_SSH_USER }}@${{ secrets.HETZNER_HOST }} "echo 'Connection successful!'"

      - name: Determine Deployment Target
        run: |
          if [[ $TAG_NAME == staging-* ]]; then
            echo "DEPLOY_ENV=staging" >> $GITHUB_ENV
          else
            echo "DEPLOY_ENV=production" >> $GITHUB_ENV
          fi

      - name: Deploy to Staging
        if: contains(env.TAG_NAME, 'staging-')
        run: |
          ssh -i vps_key.pem ${{ secrets.HETZNER_SSH_USER }}@${{ secrets.HETZNER_HOST }} "
            cd $STAGING_PATH && git checkout staging && git pull origin staging && docker compose -f compose.yaml -f compose.stage.yaml up -d --remove-orphans
          "

      - name: Deploy to Production
        if: startsWith(env.TAG_NAME, 'v')
        run: |
          ssh -i vps_key.pem ${{ secrets.HETZNER_SSH_USER }}@${{ secrets.HETZNER_HOST }} "
            cd $PRODUCTION_PATH && git checkout main && git pull origin main && docker compose -f compose.yaml -f compose.prod.yaml up -d --remove-orphans
          "
